/* 
====================================
=========BARRA DE MENU GERAL========
====================================
*/

.header-bar {
    top: 0;
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-title {
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-title span {
    background: var(--color-main);
    color: var(--color-text);
    font-size: var(--font-size-icon);
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.box-title-sub {
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.box-title-sub h1 {
    color: var(--color-text-sub);
    font-family: var(--font-style);
    font-weight: 500;
    font-size: var(--font-size-title);
}

.box-title-sub h1 b {
    color: var(--color-main);
    font-family: var(--font-style);
    font-weight: 500;
    font-size: var(--font-size-title);
}

.box-title-sub p {
    color: var(--color-text-sub);
    font-size: var(--font-size-text-m);
}

.options-menu {
    right: 0;
    justify-content: center;
    align-items: center;
    gap: 41px;
    display: none;
    opacity: 0;
}

.options-menu .menu-click {
    text-decoration: none;
    font-size: var(--font-size-text-m);
    cursor: pointer;
}

.options-menu .backPort {
    color: var(--color-text);
    background: var(--color-main);
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.options-menu .backPort:hover {
    transform: scale(0.95);
}

/* 
====================================
=============TELA INICAL============
====================================
*/

.wind-inicial {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(0);
    opacity: 1;
}

.text-bnt-left {
    width: 400px;
}

.text-bnt-left h2 {
    font-size: var(--font-size-title);
    font-weight: 400;
    width: 320px;
}

.text-bnt-left h2 b {
    font-size: var(--font-size-title);
    color: var(--color-main);
    width: 320px;
}


.text-bnt-left a {
    margin-top: 30px;
    background: var(--color-main);
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    text-decoration: none;
    font-size: var(--font-size-icon);
    color: var(--color-main-op);
    padding: 22px 16px;
    border-radius: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 0 0 10px var(--color-main);
}

.text-bnt-left a p {
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    color: var(--color-main-op);
}

.text-bnt-left a:hover {
    transform: translateX(10px);
    box-shadow: 0 0 22px var(--color-main);
}

.box-img-main {
    top: 0;
    right: 0;
    height: 500px;
    z-index: 100;
}