.wind-cardapio {
    margin-top: 6px;
    padding: 0 5px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 7px;
    transition: transform .5s ease, opacity .5s ease;
    transform: translateX(100vw);
    opacity: 0;
}

.wind-cardapio.is-visible {
    transform: translateX(0);
    opacity: 1;
}

.box-list {
    width: 100%;
    max-width: 900px;
    height: 80vh;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--bg-color-sub);
    border-radius: 13px;
    border: 2px solid var(--bg-color-border);
}

.conteiner-list {
    width: calc(100% + 10px);
    padding-right: 10px;
    margin-right: -10px;

    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px 350px;
    gap: 9px;
}

@media screen and (max-width: 1200px) {
    .conteiner-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .conteiner-list {
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    }
}

/* Largura da barra */
.conteiner-list::-webkit-scrollbar {
    width: 6px;
    margin-right: 20px;
}

/* Fundo da barra */
.conteiner-list::-webkit-scrollbar-track {
    background: transparent;
}

/* Cor do scroll */
.conteiner-list::-webkit-scrollbar-thumb {
    background: #786414;
    border-radius: 10px;
}

/* Hover */
.conteiner-list::-webkit-scrollbar-thumb:hover {
    background: #e6b800;
}


.box-card {
    width: 285px;
    background: var(--color-main-op);
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
}

.sub-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    background: var(--color-main);
}

.sub-img img {
    width: 200px;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.sub-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-infos-text {
    display: flex;
    flex-direction: column;
}

.sub-infos-text h3 {
    margin-top: 10px;
    font-family: var(--font-style);
    font-size: var(--font-size-title);
    font-weight: 500;
    color: var(--color-text-sub);
    line-height: 2px;
}

.sub-infos-text p {
    margin-top: 25px;
    font-family: var(--font-style);
    font-size: var(--font-size-title);
    font-weight: 500;
    line-height: 2px;
    color: var(--color-main);
}


.sub-infos-text button {
    margin-top: 20px;
    background: var(--color-main);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 9px 15px;
    font-size: var(--font-size-text-m);
}

.sub-infos-text button span {
    color: var(--color-text);
    font-size: var(--font-size-text-m);
}

.sub-infos .add-icons {
    margin-right: 10px;
    background: var(--color-main);
    color: var(--color-text);
    font-size: var(--font-size-icon);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.sub-infos .add-icons:active,
.sub-infos-text button:active {
    transform: scale(0.96);
}


/* 
====================================
===========BARRA DE PEDIDOS=========
====================================
*/
.box-pedidos {
    min-width: 300px;
    height: 80vh;
    background: var(--bg-color-sub);
    border-radius: 13px;
    border: 2px solid var(--bg-color-border);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-header {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 6px;
}

.cont-header span {
    background: var(--color-main);
    color: var(--color-text);
    padding: 9px;
    border-radius: 8px;
}

.cont-header div {
    line-height: 20px;
}

.cont-header div h3 {
    font-family: var(--font-style);
    font-weight: 500;
    font-size: var(--font-size-title);
    color: var(--color-text-sub);
}

.cont-header div h3 b {
    font-family: var(--font-style);
    font-weight: 500;
    font-size: var(--font-size-title);
    color: var(--color-main);
}

.cont-header div p {
    font-size: var(--font-size-text-m);
    color: var(--color-text-sub);
}


.box-list-peds {
    width: calc(100% + 5px);
    margin-top: 17px;
    margin-bottom: 17px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
    margin-right: -5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* Largura da barra */

.box-list-peds::-webkit-scrollbar {
    position: absolute;
    width: 5px;
    right: 20px;
    margin-left: 20px;
}

/* Fundo da barra */
.box-list-peds::-webkit-scrollbar-track {
    background: transparent;
}

/* Cor do scroll */
.box-list-peds::-webkit-scrollbar-thumb {
    background: #786414;
    border-radius: 10px;
}

/* Hover */
.box-list-peds::-webkit-scrollbar-thumb:hover {
    background: #e6b800;
}

.add-peds-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-peds-check div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.box-list-peds .add-peds-check img {
    width: 42px;
}

.box-list-peds .add-peds-check h5 {
    font-size: var(--font-size-text-m);
    color: var(--color-text-sub);
}

.box-list-peds .add-peds-check h5 span {
    font-size: var(--font-size-text-m);
    color: var(--color-main);
}

.box-list-peds .add-peds-check p {
    text-align: right;
    font-size: var(--font-size-text-m);
    color: var(--color-text-sub);
}


.box-check {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.boxs-valores {
    position: relative;
    width: 100%;
    height: 90px;
    padding: 6px;
    border: 2px solid var(--bg-color-border);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.boxs-valores::before {
    content: '';
    width: 100%;
    height: 54px;
    background: var(--bg-color-border);
    position: absolute;
    border-radius: initial;
    top: 0;
    left: 0;
}

.boxs-valores .box-subValor {
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.boxs-valores .box-subValor div {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.boxs-valores .box-subValor div p,
.boxs-valores .box-subValor div a {
    font-size: var(--font-size-text-m);
    font-weight: 500;
}

.btn-add-descont {
    text-decoration: none;
    color: var(--color-main);
    z-index: 100;
    cursor: default;
}

.box-valorFinal {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.box-valorFinal p {
    font-weight: 600;
    font-size: var(--font-size-text-s);
    color: var(--color-main);
}

.box-btns-pedidos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-clear-pedidos {
    width: 20%;
    height: 40px;
    background: var(--bg-color-sub2);
    border: 2px solid var(--bg-color-border);
    border-radius: 6px;


    font-size: var(--font-size-sub-title);
    color: var(--color-text-sub);
    cursor: pointer;
}

.btn-finalized {
    width: 100%;
    height: 40px;
    background: var(--color-main);
    border: none;
    border-radius: 6px;

    font-family: var(--font-style);
    font-size: var(--font-size-sub-title);
    color: var(--color-main-op);
    cursor: pointer;
}

.btn-finalized:active,
.btn-clear-pedidos:active {
    transform: scale(0.98);
}