@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Changa+One:ital@0;1&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Squada+One&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --bg-geral: #0B0B0B;
    --bg-color-sub: #0F0F0F;
    --bg-color-sub2: #171717;
    --bg-color-border: #1F1F1F;

    --color-main: #FCC002;
    --color-main-op: #1c180c;
    --color-money: #96FF99;

    --color-text: #0B0B0B;
    --color-text-sub: #efefef;

    --font-style: "Teko", sans-serif;

    --font-size-title: clamp(28px, 1vw, 35px);
    --font-size-sub-title: clamp(20px, 1vw, 25px);
    --font-size-text-s: clamp(16px, 1vw, 17px);
    --font-size-text-m: clamp(12px, 1vw, 13px);
    --font-size-icon: clamp(30px, 1vw, 35px);
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    overflow: hidden;
    background: var(--bg-geral);
}